.back-button {
    background-color: #b0a496;
    padding: 5px;
} /*idk pero baka naka bootstrap ibang button*/

/*when own recipe*/
.update-button {
    margin-right: 10px;
    padding: auto;
}

.delete-button {
    margin-left: 10px;
    padding: auto;
}

/* Recipe Detail Container */
.recipe-detail-container {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }

  .recipe-user {
    background-color: #ede8e2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    margin: 0 auto;
  }

  .recipe-user-id {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
  }

  .recipe-user-img {
    max-height: 10rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .recipe-user + .recipe-container {
    margin-top: 25px;
  }

  .recipe-container {
    background-color: #e8e3dd;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .recipe-container + .ingredients {
    margin-top: 10px;
  }

  .recipe-title {
    font-size: 45px;
    font-weight: bold;
    padding: 10px;
  }

  .recipe-components { /* ingredients, step, comments*/
    font-size: 45px;
    padding: 10px;
    text-align: center;
  }

  .recipe-img {
    max-width: 40rem;
    border-radius: 10px;
    height: auto;
  }

  .recipe-category {
    font-size: 18px;
  }

  .recipe-description {
    font-size: 15px;
  }

  .steps { /*whole step div container*/
    padding-bottom: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .step {
    width: 80%;
    padding: 1rem;
    background-color: #e8e3dd;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .step + .step {
    margin-top: 10px;
  }

  .step-title {
    margin-top: 6px;
    font-size: 25px;
  }

  .step-description {
    font-size: 15px;
  }

  .ingredients {
    padding-bottom: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
  }

  .ingredients-part {
    width: 80%;
    background-color: #e8e3dd;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .ingredients-part ul {
    list-style: none;
    padding: 0;
  }

  .ingredients-part li {
    display: block;
    margin: 0.5rem;
  }

  .comment-design {
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 90%;
  }

  .comment-design + .comment-design {
    margin-top: 10px;
  }

  .add-comment {
    margin-top: 2rem;
  }