body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.logo-login {
    flex: 1.5; /* Take up space on the left for the logo */
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.logo-login img {
    max-width: 100%;
    height: auto; 
    max-height: 300px; /* Optional: Set a maximum height for the logo */
    object-fit: contain;
}

.form-container-login {
    flex: 2; /* Take up space on the right for the form */
    padding-left: 20px; /* Space between logo and form */
    padding-right: 20px;
}

.login-container {
    display: flex;
    width: 100%;
    max-width: 850px;
    padding: 20px;
    background-color: #ffffff;
    border: 4px solid #806549;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure the login form is above the dark overlay */
    position: relative;
}

h1 {
    text-align: center;
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
}

input:focus {
    border-color: #806549;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #806549;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #755e43;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

.loading-spinner {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link a {
    color: #0364cc;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/*animation for popuppp*/
.login-container {
    transform: scale(0);
    animation: popup 0.3s forwards ease-in-out;
}

@keyframes popup {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}