.user-comments{
    background-color: #d7cec4; 
    padding: 0.8rem;
    margin: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.comment-list {
    max-width: 100%;
    padding: 0;
    margin: 0 auto; /* Center the list */
  }